{% extends 'base.html.twig' %}
{% block title%}Images{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div>
   	  <div>
   	    <div>
       	   <h1>Images</h1>
       	   <hr>
       	</div>   
   	  </div>
   </div>
<!-- Principal Content Start -->
{% endblock %}